POSTGRES_USER=admin
POSTGRES_PASSWORD=change_me_db_password
POSTGRES_DB=recipebook

ALGORITHM=RS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
EMAIL_BIDX_SECRET=change_me_email_bidx_secret

JWT_KID=dev-key-1

PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
YOUR PRIVATE KEY HERE
-----END PRIVATE KEY-----"

PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
YOUR PUBLIC KEY HERE
-----END PUBLIC KEY-----"